
body{
     background-image: url(Sourcelog_background_image.jpg);
     background-repeat: no-repeat;
     background-size: cover;
}


div.soucelogbody {
    position:absolute;
    top:97px;
    left:0px;
    width:100%;


}
caption {
color:black;
position:absolute;
top: 2px;
text-align: left;

}
table, th, td {
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}

table,td,tr,th {
    text-align: center;
}
